@charset "utf-8";

body {
	font-family: 'Open Sans', 'sans-serif';
	background-color: rgb(255,255,255);
    font-size: 12px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

hr {
	height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt50 { margin-top: 50px; }
.mt70 { margin-top: 70px; }

.mb70 { margin-bottom: 70px; }

.mh350 { min-height: 350px; }

.full-width {
	width: 100%;
}

.rot90 {
	transform:          rotate(90deg);
	-ms-transform:      rotate(90deg);
	-moz-transform:     rotate(90deg);
	-webkit-transform:  rotate(90deg);
	-o-transform:       rotate(90deg);
}

.logo {
	width: 100%;
	height: auto;
}

.info {
	font-size: 1.2em;
	font-weight: bold;
}

/* Hall of Fame */

#table-hall-fame thead {
	font-size: 1.2em;
}

#table-hall-fame tbody tr:first-child td {
	background-color: rgba(255, 215, 0, 0.6);
	font-weight: bold;
}

#table-hall-fame tbody tr:nth-child(2) td {
	background-color: rgba(192, 192, 192, 0.6);
	font-weight: bold;
}

#table-hall-fame tbody tr:nth-child(3) td {
	background-color: rgba(205, 127, 58, 0.6);
	font-weight: bold;
}



/* Game board */

#ships-wrapper {
	width: 155px;
	display: inline-block;
	margin-left: 50px;
	vertical-align: top;
}

#ships-wrapper img {
	display: inline-block;
	cursor: move;
}

.ship-area {
	font-size: 1.1em;
	margin-bottom: 10px;
}

.game-board {
	border-collapse: collapse;
	display: inline-block;
	margin-right: 10px;
}

.game-board td, .game-board th {
	border: 1px solid black;
	padding: 0;
	width: 31px;
	height: 31px;
	font-size: 1.2em;
	vertical-align: top;
	text-align: center;
}

.game-board td {
	background-color: #3B7ADB;
	text-align: center;
}

.game-board th {
	background-color: #6db3f2;
}

.over {
	background-color: #66b2ff !important;
}

#ships-wrapper img.used {
	opacity: 0.5;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

.can-hit:hover {
	background-image: url("../media/aim.png") !important;
	cursor: none;
}
