@charset "utf-8";

body {
	font-family: 'Open Sans', 'sans-serif';
	background-color: rgb(255,255,255);
    font-size: 12px;
}

hr {
	height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt50 { margin-top: 50px; }
.mt70 { margin-top: 70px; }

.mh350 { min-height: 350px; }

.logo {
	width: 100%;
	height: auto;
}

/* Hall of Fame */

#table-hall-fame thead {
	font-size: 1.2em;
}

#table-hall-fame tbody tr:first-child td {
	background-color: rgba(255, 215, 0, 0.6);
	font-weight: bold;
}

#table-hall-fame tbody tr:nth-child(2) td {
	background-color: rgba(192, 192, 192, 0.6);
	font-weight: bold;
}

#table-hall-fame tbody tr:nth-child(3) td {
	background-color: rgba(205, 127, 58, 0.6);
	font-weight: bold;
}



/* Game board */

.square {
	width: 30px;
	height: 30px;
	background-color: rgb(59, 122, 219);
	border: 1px solid black;
	float: left;
}

.square-head {
	background-color: rgb(241, 241, 241);
	border: 0.5px solid black;
}

.square-corner {
	background-color: transparent;
	border: none;
}
 
#wrapper {
	width: 334px;
	height: 334px;
}
