@charset "utf-8";

body {
	font-family: 'Open Sans', 'sans-serif';
	background-color: rgb(255,255,255);
    font-size: 12px;
}

.mt50 {
	margin-top: 50px;
}

.mt70 {
	margin-top: 70px;
}

.mh350 {
	min-height: 350px;
}