<!doctype html>
<html lang="en" ng-app="Senkan">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="media/favicon.ico" type="image/x-icon">

		<title>Senkan</title>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/layout.css">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="TabController as tabCtr">
		<div class="container">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#/home" ng-click="tabCtr.setTab(1)">
							Senkan
						</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="#/play" ng-click="tabCtr.setTab(2)">
									Play
								</a>
							</li>
							<li>
								<a href="#/hall-of-fame" ng-click="tabCtr.setTab(3)">
									Hall of Fame
								</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="#/sign-up" ng-click="tabCtr.setTab(4)">
									Sign Up
								</a>
							</li>
							<li class="active">
								<a href="#/sign-in" ng-click="tabCtr.setTab(5)">
									Sign In
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="mt70 mh350">
				<section id="home" ng-show="tabCtr.isSet(1)">
					<div class="jumbotron">
						<div class="row">
							<div class="col-md-4">
								<img src="media/logo.png" class="logo" />
							</div>
							<div class="col-md-7 col-md-offset-1">
								<h1>Home</h1>
								<p>Senkan is the most awesome battleship game!</p>
								<p>Can you beat the amazing <strong>Ancel</strong>?</p>
								<a href="#/play" class="btn btn-primary btn-lg" ng-click="tabCtr.setTab(2)">Play now!</a>
							</div>
						</div>
					</div>
				</section>
				<section id="play" ng-show="tabCtr.isSet(2)" ng-controller="GameController as gameCtr">
					<h1>Play</h1>
					<div id="game-pre" class="row mt50" ng-show="gameCtr.isSet(1)">
						<div class="col-md-4 col-md-offset-2">
							<img src="media/logo.png" class="logo" />
						</div>
						<div class="col-md-4">
							<h3>
								Choose you opponent:
							</h3>
							<a href="#/play/bot" class="btn btn-primary btn-block" ng-click="gameCtr.setMode(2)">Play against <strong>Ancel</strong></a>
							<a href="#/play/online" class="btn btn-primary btn-block" ng-click="gameCtr.setMode(3)">Find opponent</a>
						</div>
					</div>
					<div id="game-bot" class="row text-center" ng-show="gameCtr.isSet(2)">
						<h3>Playing against Ancel</h3>
						<div class="row mt20 info">
							<p>Firstly, you have to place your ships on the board using our awesome drag and drop system.</p>
						</div>
						<div class="row mt20" id="config-space">
							<!-- Game board -->
						</div>
						<div class="row mt20">
							<div class="col-md-2 col-md-offset-5">
								<button class="btn btn-primary btn-block" ng-click="gameCtr.setMode(4)">Start</button>
							</div>
						</div>
					</div>
					<div id="game-net" class="row mt50 text-center" ng-show="gameCtr.isSet(3)">
						

						<h3>Not available yet!</h3>
					</div>
					<div id="game-play" class="row mt50 text-center" ng-show="gameCtr.isSet(4)">
						<h3>Playing against Ancel</h3>
						<div class="row">
							<div class="col-md-10 col-md-offset-1 mt20">
								<div class="progress">
									<div id="game-progress" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="17" style="width: 0%">
									</div>
								</div>
							</div>
						</div>
						<div class="row mt20" id="playing-space">
							<div class="col-md-4 col-md-offset-1" id="player-bspace"></div>
							<div class="col-md-2">
								<div class="row">
									<h3>Score:<br><span id="score">100</span></h3>
								</div>
								<div class="row mt20">
									<a href="#give-up" class="btn btn-warning btn-block" ng-click="gameCtr.setMode(5)">Give Up</a>
								</div>
								<div class="row mt20">
									<h4>Playing:</h4>
								</div>
								<div class="row" id="turn">
									<h5>You</h5>
								</div>
							</div>
							<div class="col-md-4" id="ancel-bspace"></div>
						</div>
					</div>
					<div id="game-give-up" class="row mt50 text-center" ng-show="gameCtr.isSet(5)">
						<h3>Game Over!</h3>
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<img src="media/game_over.jpg" class="full-width" >
							</div>
						</div>
					</div>
					<div id="game-win" class="row mt50 text-center" ng-show="gameCtr.isSet(6)">
						<h3>Congratz!</h3>
						<h4>Score: <span id="final-score">0</span></h4>
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<img src="media/win.jpg" class="full-width" >
							</div>
						</div>
						<button id="show-win" class="hidden" ng-click="gameCtr.setMode(6)"></button>
					</div>
					<div id="game-lose" class="row mt50 text-center" ng-show="gameCtr.isSet(7)">
						<h3>You lost!</h3>
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<img src="media/game_over.jpg" class="full-width" >
							</div>
						</div>
						<button id="show-lose" class="hidden" ng-click="gameCtr.setMode(7)"></button>
					</div>
				</section>
				<section id="hall-fame" ng-show="tabCtr.isSet(3)">
					<h1>Hall of Fame</h1>
					<div class="row mt50">
						<div class="col-md-8 col-md-offset-2">
							<table class="table table-hover" id="table-hall-fame">
								<thead>
									<tr>
										<th>#</th>
										<th>Username</th>
										<th>Score</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>JoaoM10</td>
										<td>73</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Filipe</td>
										<td>42</td>
									</tr>
									<tr>
										<td>3</td>
										<td>JoaoM10</td>
										<td>73</td>
									</tr>
									<tr>
										<td>4</td>
										<td>Filipe</td>
										<td>42</td>
									</tr>
									<tr>
										<td>5</td>
										<td>JoaoM10</td>
										<td>73</td>
									</tr>
									<tr>
										<td>6</td>
										<td>Filipe</td>
										<td>42</td>
									</tr>
									<tr>
										<td>7</td>
										<td>JoaoM10</td>
										<td>73</td>
									</tr>
									<tr>
										<td>8</td>
										<td>Filipe</td>
										<td>42</td>
									</tr>
									<tr>
										<td>9</td>
										<td>JoaoM10</td>
										<td>73</td>
									</tr>
									<tr>
										<td>10</td>
										<td>Filipe</td>
										<td>42</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
				<section id="sign-up" ng-show="tabCtr.isSet(4)">
					<h1>Sign Up</h1>
					<div class="row mt50">
						<div class="col-md-4 col-md-offset-4 jumbotron">
							<form role="form">
								<div class="form-group">
									<label for="username">Username</label>
									<input type="text" class="form-control" id="username" placeholder="Enter username">
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" class="form-control" id="email" placeholder="Enter email">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" id="password" placeholder="Enter password">
								</div>
  								<button class="btn btn-primary btn-block"> Sign Up</button>
							</form>
						</div>
					</div>
				</section>
				<section id="sign-in" ng-show="tabCtr.isSet(5)">
					<h1>Sign In</h1>
					<div class="row mt50">
						<div class="col-md-4 col-md-offset-4 jumbotron">
							<form role="form">
								<div class="form-group">
									<label for="username">Username</label>
									<input type="text" class="form-control" id="username" placeholder="Enter username">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" id="password" placeholder="Enter password">
								</div>
  								<button class="btn btn-primary btn-block"> Sign In</button>
							</form>
						</div>
					</div>
				</section>
			</div>
			<footer class="text-center mt50">
				<hr>
				<p>Developed by <a href="#">João Ramos</a> e <a href="#">Filipe Figueiredo</a></p>
			</footer>
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/ships.js"></script>
		<script type="text/javascript" src="js/board.js"></script>
		<script type="text/javascript" src="js/play.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>